@using CineTicketHub.Models.Entities

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var playingNow = ViewData["PlayingNow"] as List<Movie>;
    var upcomingMovies = ViewData["UpcomingMovies"] as List<Movie>;
}

<div class="container mt-4">
    <h2>Playing Now</h2>
    <hr />
    <div class="row">
        @foreach (var movie in playingNow)
        {
            <div class="col-md-2 mb-4">
                <a asp-controller="Movies" asp-action="Details" asp-route-id="@movie.Id" class="card-link text-decoration-none text-black">
                    <div class="card d-flex flex-column">
                        <img src="@movie.PosterUrl" class="card-img-top img-fluid" alt="@movie.Title Poster" style="width: 100%">
                        <div class="card-body flex-grow-1">
                            <h6 class="card-title">@movie.Title (@movie.ReleaseDate.Year)</h6>
                            <div class="card-text">
                                @foreach (var genre in movie.Genres)
                                {
                                    <span class="badge bg-secondary">@genre.Name</span>
                                }
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        }
    </div>

    <h2>Upcoming Movies</h2>
    <hr />
    <div class="row">
        @foreach (var movie in upcomingMovies)
        {
            <div class="col-md-2 mb-4">
                <a asp-controller="Movies" asp-action="Details" asp-route-id="@movie.Id" class="card-link text-decoration-none text-black">
                    <div class="card d-flex flex-column">
                        <img src="@movie.PosterUrl" class="card-img-top img-fluid" alt="@movie.Title Poster" style="width: 100%">
                        <div class="card-body flex-grow-1">
                            <h6 class="card-title">@movie.Title (@movie.ReleaseDate.Year)</h6>
                            <div class="card-text">
                                @foreach (var genre in movie.Genres)
                                {
                                    <span class="badge bg-secondary">@genre.Name</span>
                                }
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        }
    </div>
</div>