@model CineTicketHub.Models.Entities.Movie

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Movie</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Duration)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Duration)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ReleaseDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ReleaseDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Genres)
        </dt>
        <dd class = "col-sm-10">
            @string.Join(", ", Model.Genres.Select(g => g.Name))
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PosterUrl)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PosterUrl)
        </dd>
    </dl>
        <h4>Screenings</h4>
        <hr />
    <dl class="row">
        <dd class="col-sm-6">
        <table class="table table-bordered table-striped align-middle">
            <thead>
            <tr>
                <th>
                    @Html.DisplayName("Room")
                </th>
                <th>
                    @Html.DisplayName("Starts at")
                </th>
                <th></th>
            </tr>
            </thead>
            <tbody>
                @foreach (var item in (IEnumerable<CineTicketHub.Models.Entities.Screening>)ViewBag.screenings)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Room.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.StartsAt)
                        </td>
                        <td>
                            <a asp-controller="Screenings" asp-action="CreateReservation" asp-route-screeningId="@item.Id" type="button" class="btn btn-primary">Book Your Seat</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
